extends ../../shared/views/pageLayout.pug
include ../../shared/UI_components/formSubmit.pug

block scripts
    //link(rel="stylesheet" href="/prettyifyTheme/doxy.css")
    //link(rel="stylesheet" href="/prettyifyTheme/sons-of-obsidian.css")
    link(rel="stylesheet" href="/prettyifyTheme/desert.css")
    //link(rel="stylesheet" href="/prettyifyTheme/sunburst.css")
    link(rel="stylesheet" type="text/css" href="components/Feedback/monokai.css")
    link(rel="stylesheet" href="components/Feedback/errors.css")
    link(rel="stylesheet" href="components/Feedback/feedbackMini.css")
    script(src="/prettyify/run_prettify.js")
    script(src="/socket.io/socket.io.js")

block content
    div(ng-controller="feedbackCtrl").uk-container
        if err
            div(uk-alert).uk-alert-danger
                p.errorMessage #{err}
        else
            div.toolSelection
                form(action="/feedback" method="post")#toolSelectionFrm.uk-form-horizontal
                    div
                        label(for="toolSelector").uk-form-label View feedback from tool:
                        div.uk-form-controls
                            select(onchange="this.form.submit()" name="toolSelector")#toolSelectorId.uk-select
                                option(selected="All"==selectedTool ) All
                                each tool in toolsUsed
                                    option(selected=tool==selectedTool) #{ tool }

                    if visualTools && visualTools.length > 0
                        div
                        each vtool in visualTools
                            a(href=vtool.route).uk-button.uk-button-default #{ vtool.name }

                if feedbackStats
                    div.feedbackStatsSection
                        hr
                        ul(uk-accordion)
                            li
                                h3.uk-accordion-title
                                    | Feedback Stats
                                    span(class="uk-visible@l") (click to expand)
                                div.uk-accordion-content
                                    include feedbackStatsTable.pug

                div.generalErrorsSection
                    if feedbackItems && feedbackItems.length > 0
                        hr
                        ul(uk-accordion)
                            li
                                h3.uk-accordion-title
                                    |  {{(feedbackItems|filter:allowFeedbackType).length}} of #{feedbackItems.length} Feedback Messages
                                    span(class="uk-visible@l") (click to expand)
                                div.uk-accordion-content
                                    include feedbackErrorTable.pug
                    else
                        h4 No errors were found!

            hr
            div.filesSection
                uib-tabset(active="active")
                    each file, findex in files
                        uib-tab(index=findex heading=file.originalname disable="{{tab.disabled}}")
                            div(autocomplete="false" autocheck="false" spellcheck="false" contenteditable="false")#ifsText.uk-padding-bottom
                                if runType == 'programming'
                                    pre(class="hljs")
                                        code !{file.markedUp} 
                                else
                                    pre
                                        code !{file.markedUp}
                            br

                div(class="uk-offcanvas-content")
                    include popover.pug

    script(src="components/Feedback/feedbackController.js")
    script(src="/components/InteractionEvents/browserFeedbackEvents.js")
    script(src="/components/InteractionEvents/popoverFeedbackEvents.js")

