div(class="col-md-10 col-md-offset-1")
    h3 Generalized Feedback
    table
        table(class="table")
            if feedbackItems && feedbackItems.length != 0
                thead
                    tr
                        th Tool Name
                        th Type
                        th Feedback
                        th File
                        th Suggestion
                    tbody
                        each f in feedbackItems
                            if f.filename === ""
                                tr 
                                    td #{f.displayName}
                                    td #{f.type}
                                    td #{f.feedback}
                                    td ""
                                    td #{f.suggestion}
                    tbody
                         each f in feedbackItems
                            if f.filename !== ""
                                tr 
                                    td #{f.displayName}
                                    td #{f.type}
                                    td #{f.feedback}
                                    td #{f.filename}
                                    td #{f.suggestion}
            else
                tbody
                    tr
                        td Congratulations, no errors where found.