div#statsSection
    div.uk-card
        div.uk-card-body.uk-padding-remove-top.uk-margin-remove.top.uk-padding-remove-bottom.uk-margin-remove.bottom
            div(data-uk-grid-margin).uk-grid
                if stats
                    div.uk-width-1-2
                        if stats.userStats && stats.userStats.submissionErrorRate
                            h4.uk-padding-remove.uk-margin-remove My Accuracy
                            ul.uk-list.uk-list-striped
                                li 
                                    p.uk-display-inline #{ stats.userStats.submissionErrorRate.feedbackItems } Feedback Items Total
                                if stats.userStats.submissionErrorRate.feedbackItems && stats.userStats.submissionErrorRate.feedbackItems != 0
                                    li 
                                        p.uk-display-inline #{stats.userStats.submissionErrorRate.feedbackItems/stats.userStats.submissionErrorRate.submissionCount } Feedback/Submission Ratio 
                                else
                                    li
                                        p.uk-display-inline No student submissions
                                    
                        else
                            p No Student Submission Stats
                    div.uk-width-1-2
                        if stats.socialStats && stats.socialStats.submissionErrorRate
                            h4.uk-padding-remove.uk-margin-remove Class Accuracy
                            ul.uk-list.uk-list-striped
                                li 
                                    p.uk-display-inline #{ stats.socialStats.submissionErrorRate.feedbackItems } Feedback Items Total
                                if stats.socialStats.submissionErrorRate.feedbackItems && stats.socialStats.submissionErrorRate.feedbackItems != 0
                                    li
                                        p.uk-display-inline #{stats.socialStats.submissionErrorRate.feedbackItems/stats.socialStats.submissionErrorRate.submissionCount } Feedback/Submission Ratio
                                else
                                    li
                                        p.uk-display-inline No student submissions
                        else
                            p No Student Submission Stats

                    div.uk-width-1-1.uk-margin-medium-bottom
                        hr

                    if stats.userStats.commonFeedback 
                        div.uk-width-1-1.uk-margin-small-bottom
                            if stats.userStats.commonFeedback.length > 0
                                h4.uk-padding-remove.uk-margin-remove Most common feedback
                                    ul.uk-list.uk-list-striped
                                        each feed in stats.userStats.commonFeedback
                                            li
                                                p.uk-display-inline #{feed.feedback}
                            else
                                p Student's most common feedback is not available.

                        div.uk-width-1-1.uk-margin-medium-bottom
                            hr

                    div.uk-width-1-2
                        if stats.userStats && stats.userStats.mostUsedTools && stats.userStats.mostUsedTools  && stats.userStats.mostViewedMoreFeedbackTool
                            h4.uk-padding-remove.uk-margin-remove Tool Usage:
                            ul.uk-list.uk-list-striped
                                li 
                                    p.uk-display-inline Most Frequent Tool: #{ stats.userStats.mostUsedTools.toolName }
                                li
                                    p.uk-display-inline Most Feedback from Tool: #{ stats.userStats.mostUsedTools.toolName }
                                li
                                    p.uk-display-inline Most Indepth Feedback Views:  #{ stats.userStats.mostViewedMoreFeedbackTool.toolName }
                        else
                            p No Student Tool Usage Information Available

                    div.uk-width-1-2
                        if stats.socialStats
                            h4.uk-padding-remove.uk-margin-remove Class Tool Usage:
                            ul.uk-list.uk-list-striped
                                li 
                                    p.uk-display-inline Most Frequent Tool: #{ stats.socialStats.mostUsedTools.toolName }
                                li
                                    p.uk-display-inline Most Feedback from Tool: #{ stats.socialStats.mostFeedbackTool.toolName }
                                li
                                    p.uk-display-inline Most Indepth Feedback Views:  #{ stats.socialStats.mostViewedMoreFeedbackTool.toolName }
                        else
                            p No Class Tool Usage Information Available
                else
                    p Usage statistics are currently unavailable.
