div#statsSection
    div.uk-card
        div.uk-card-body.uk-padding-remove-top.uk-margin-remove.top.uk-padding-remove-bottom.uk-margin-remove.bottom
            div(data-uk-grid-margin).uk-grid
                if stats
                    div.uk-width-1-2
                        if stats.userStats && stats.userStats.accuracy &&  stats.userStats.accuracy.length > 1 && stats.userStats.accuracy[0].value != 0
                            - var divVal = Math.round(stats.userStats.accuracy[0].value /  (stats.userStats.accuracy[0].value + stats.userStats.accuracy[1].value) * 100) 
                                li 
                                    h4.uk-display-inline Spelling Accuracy is #{divVal} %
                        else
                            p.uk-display-inline Student Accuracy is not available.
                    div.uk-width-1-2
                        if stats.socialStats && stats.socialStats.accuracy &&  stats.socialStats.accuracy.length > 1 && stats.socialStats.accuracy[0].value != 0
                            - var divVal = Math.round(stats.socialStats.accuracy[0].value /  (stats.socialStats.accuracy[0].value + stats.socialStats.accuracy[1].value) * 100) 
                                li 
                                    h4.uk-display-inline Class Spelling Accuracy is #{divVal} %
                        else
                            p.uk-display-inline Class Accuracy is not available.


                    div.uk-width-1-1.uk-margin-medium-bottom
                        hr


                    div.uk-width-1-3
                        if stats.userStats && stats.userStats.suggestions  && stats.userStats.suggestions.length > 0
                            h4.uk-padding-remove.uk-margin-remove My Spelling
                            ul.uk-list.uk-list-striped
                                each suggest in stats.userStats.suggestions
                                    li
                                        p.uk-display-inline #{suggest.target}
                                        span(uk-icon="icon: arrow-left")
                                            span(uk-icon="icon: arrow-right")
                                        p.uk-display-inline #{suggest.suggestions}
                        else
                            p Unable to show most common spelling mistakes.

                    div.uk-width-1-3
                        if stats.userStats && stats.userStats.accuracy  && stats.userStats.accuracy.length > 1
                            h4.uk-padding-remove.uk-margin-remove My Totals
                            ul.uk-list.uk-list-striped
                                li 
                                    p.uk-display-inline Total Words Used #{ stats.userStats.accuracy[0].value + stats.userStats.accuracy[1].value }
                                li 
                                    p.uk-display-inline Total Correct Words #{stats.userStats.accuracy[0].value}
                                li
                                    p.uk-display-inline Total Misspelt Words #{stats.userStats.accuracy[1].value}
                                
                        else
                            p Unable to show submission statistics.

                    div.uk-width-1-3
                        if stats.userStats && stats.userStats.tools  && stats.userStats.tools.length > 0
                            h4.uk-padding-remove.uk-margin-remove My Tools
                            ul.uk-list.uk-list-striped
                                each tool in stats.userStats.tools
                                    li
                                        p.uk-display-inline #{tool.toolName}
                        else
                            p Unable to show your most popular tools.

                    div.uk-width-1-1.uk-margin-medium-bottom
                            hr

                    div.uk-width-1-3
                        if stats.socialStats && stats.socialStats.suggestions  && stats.socialStats.suggestions.length > 0
                           
                            h4.uk-padding-remove.uk-margin-remove Class Spelling
                            ul.uk-list.uk-list-striped
                                each suggest in stats.socialStats.suggestions
                                    li
                                        p.uk-display-inline #{suggest.target}
                                            span(uk-icon="icon: arrow-right")
                                            span(uk-icon="icon: arrow-left")
                                        p.uk-display-inline #{suggest.suggestions}
                        else
                            p Unable to show class spelling mistakes.
                   
                    div.uk-width-1-3
                        if stats.socialStats && stats.socialStats.accuracy  && stats.socialStats.accuracy.length > 1
                            h4.uk-padding-remove.uk-margin-remove Class Totals
                            ul.uk-list.uk-list-striped
                                li 
                                    p.uk-display-inline Total Words Used #{ stats.socialStats.accuracy[0].value + stats.socialStats.accuracy[1].value }
                                li 
                                    p.uk-display-inline Total Correct Words #{stats.socialStats.accuracy[0].value}
                                li
                                    p.uk-display-inline Total Misspelt Words #{stats.socialStats.accuracy[1].value}
                        else
                            p Unable to show submision statistics at ths time

                    div.uk-width-1-3
                        if stats.socialStats && stats.socialStats.tools  && stats.socialStats.tools.length > 0
                            h4.uk-padding-remove.uk-margin-remove Class Tools
                            ul.uk-list.uk-list-striped
                                each tool in stats.socialStats.tools
                                    li
                                        p.uk-display-inline #{tool.toolName}
                        else
                            p Unable to show most popular tools.

                else
                    p Usage statistics are currently unavailable.
