div(class="uk-visible@s").avatar-section
    div.uk-align-center
        img(src="../../shared/img/user/" + user.id + "/avatar.png").profile-avatar
        div.user
            span.profile-name #{studentProfile.name}
            br
            span.profile-username #{user.username}
        hr
        div.classes
            span.profile-h2 Classes
            br
            if courses && courses.length != 0
                dl.uk-description-list.uk-description-list-divider
                    each val,index in courses
                        dt
                            strong= val.code + ": " + val.courseName
                        dd= val.description
            else
                p You haven't enrolled in a class yet. Please enrol on the profile page.
        hr
        div.skills
            span.profile-h2 Skills
            br
            if skill && skills.length != 0
                each skill in skills
                    p #{ skill.name }
                    progress(value=skill.value*100 max="100" title=skill.value*100 +"%", uk-tooltip).uk-progress
            else
                p You haven't rated your skill level yet. Please see the student skill page.