extends ../../shared/views/pageLayout.pug

block content
    div.uk-container
        div(uk-alert).uk-alert-danger
            p.errorMessage #{messages.errorMessage}

        h1.uk-text-left.uk-margin-remove-top #{title}

        div.uk-margin
            form(class='uk-form' method="post" action="" + formAction )#uploadForm
                h2.uk-text-left #{page.displayName}
                p Click the toggles to select items to be removed. Warning: these actions cannot be undone.

                div(uk-grid).uk-grid-match.uk-child-width-1-3
                    each option, index in values
                        div
                            div(id=option.id).uk-card.uk-card-hover.uk-card-default
                                div.uk-card-header
                                    div.uk-clearfix
                                        span.uk-text-meta.uk-float-left Remove item?
                                        label.switch-wrapper.uk-float-right
                                            input(name="adminControl", value=option.id, type="checkbox" uk-toggle="target: #" + option.id + "; cls: uk-alert-danger")
                                            div.switch.switch-round.switch-danger
                                div.uk-card-body
                                    h3.uk-card-title #{option.name}
                                    p #{option.description}
                button(type="submit").uk-button.uk-button-danger.uk-align-center Remove Selected
