extends ../../shared/views/pageLayout.pug

block content
    div.uk-container
        h1.uk-text-center #{title}
        div(uk-alert).uk-alert-danger
            p.errorMessage #{messages.errorMessage}

        div.uk-margin
            form(class='uk-form' method="post" )#uploadForm
                div(uk-grid).uk-grid-small.uk-child-width-1-1
                    div(uk-grid).uk-grid-collapse.uk-child-width-1-1
                        a(href="/admin-add-course" class="uk-width-1-6@m").uk-button.uk-button-primary Add Course
                        a(href="/admin-add-event" class="uk-width-1-6@m uk-width-1-6@l").uk-button.uk-button-primary Add Event
                        a(href="/admin-add-assignment" class="uk-width-expand@m uk-width-1-6@l").uk-button.uk-button-primary Add Assignment
                        a(href="/admin-add-assignment-task" class="uk-width-1-6@m uk-width-1-6@l").uk-button.uk-button-primary Add Task
                        a(href="/admin-add-skill" class="uk-width-1-6@m").uk-button.uk-button-primary Add Skill
                        a(href="/admin/announcements/new" class="uk-width-1-6@m").uk-button.uk-button-primary Add Announce
                    div(uk-grid).uk-grid-collapse.uk-child-width-1-1
                        a(href="/admin-remove-course" class="uk-width-1-6@m").uk-button.uk-button-danger Remove Course
                        a(href="/admin-remove-event" class="uk-width-1-6@m uk-width-1-6@l").uk-button.uk-button-danger Remove Event
                        a(href="/admin-remove-assignment" class="uk-width-expand@m").uk-button.uk-button-danger Remove Assignment
                        a(href="/admin-remove-assignment-task" class="uk-width-1-6@m uk-width-1-6@l").uk-button.uk-button-danger Remove Task
                        a(href="/admin-remove-skill" class="uk-width-1-6@m").uk-button.uk-button-danger Remove Skill
                        a(href="/admin/announcements" class="uk-width-1-6@m").uk-button.uk-button-danger  Manage Announces
                    div(uk-grid).uk-grid-collapse.uk-child-width-1-1
                        a(href="/admin/surveys" class="uk-width-1-6@m").uk-button.uk-button-primary Manage Surveys

        div.uk-margin
            if !stats
                p.uk-text-lead
                    | No statistics to show!
            else
                table.uk-table
                    caption IFS Summary Stats
                    thead
                        tr
                            th Statistics
                            th Value
                    tbody
                        tr
                            td Total Students
                            td= stats.totalStudents
                        tr
                            td Students Online This week
                            td= stats.studentsOnlineThisWeek
                        tr
                            td Total Weekly Submissions
                            td= stats.weeklySubmissions
                        if stats.disciplineType
                            if typeof(stats.disciplineType) == "string"
                                tr
                                    td= stats.disciplineType + " users"
                                    td= stats.countDiscipline
                            else
                                each s, index in stats.disciplineType
                                    tr
                                        td= s.disciplineType + " users"
                                        td= s.countDiscipline
