extends ../../shared/views/pageLayout.pug

block scripts
    script(src="/socket.io/socket.io.js")

block content
    div.uk-container.uk-container
        div(uk-alert).uk-alert-danger
            p.uk-align-center.errorMessage #{messages.errorMessage}

        div(uk-grid).uk-grid
            // profile info
            div(class="uk-width-1-3@s uk-width-1-4@m").profile.uk-align-left
                div(class="uk-visible@s").avatar-section
                    div.uk-align-center
                        img(src="../../shared/img/user/" + user.id + "/avatar.png").profile-avatar
                        div.user
                            span.profile-name #{studentProfile.name}
                            br
                            span.profile-username #{user.username} (#{user.id})
                        hr
                        div.bio
                            div.uk-clearfix
                                span.profile-h2.uk-float-left Bio
                                span(uk-icon="icon: quote-right").uk-float-right
                            p.profile-text
                                | #{studentProfile.bio}
                        div.classes
                            span.profile-h2 Classes
                            br
                            if courses && courses.length != 0
                                dl.uk-description-list.uk-description-list-divider
                                    each val,index in courses
                                        dt
                                            strong= val.code + ": " + val.courseName
                                        dd= val.description
                            else
                                p
                                    | You haven't enrolled in a class yet. Visit the 
                                    a(href="/courses") setup page
                                    |  to enrol.

            // skills and upcoming events
            div(class="uk-width-expand").info-section.uk-align-right
                div.skills
                    h2 Skill Progress
                    if studentStats.length > 0
                        div.uk-card.uk-card-default.uk-padding-small
                            each skill in studentStats
                                include skill-progress.pug
                            a(href="/skills").uk-button.uk-button-default View more?
                    else
                        p.uk-text-lead.uk-text-muted
                            | You're currently not working on any skills.
                            br
                            | Why not visit 
                            a(href="/dashboard") the Dashboard
                            | ?
                    br
                div.events
                    h2 Upcoming Events 
                        span(uk-icon="icon: calendar; ratio: 1.5")
                    if upcomingEvents.length > 0
                        div(uk-grid).uk-grid-small.uk-grid-match
                            each event in upcomingEvents
                                include event-card.pug
                    else
                        p.uk-text-lead.uk-text-muted
                            | No upcoming events. You can relax 
                            span(uk-icon="icon: happy").uk-icon
