extends ../../shared/views/pageLayout.pug

block scripts
    script(src="/socket.io/socket.io.js")

block content
    div.uk-container
        div(uk-alert).uk-alert-danger
            p.errorMessage #{messages.errorMessage}

        form(id="studentSkillForm" class='uk-form' method="post" action="/skills")
            div.studentSkills
                h2 Student Skills
                if userRatedSkills && userRatedSkills.length > 0
                    div.uk-container
                        - var title = "";
                        each skill in userRatedSkills
                            div.uk-margin-remove-bottom
                                if title != skill.title
                                    h3.uk-margin-remove-bottom #{skill.title}
                                h4 #{skill.skillName}

                                //- Note: studentSkillSlider uses the format and naming form this code
                                //- If you need to change it make sure studentSkillSliders.js is update to still work.
                                div(uk-grid).uk-grid.uk-margin-small
                                    div.uk-width-auto
                                        input(id="numeric"+skill.classSkillId, name="userRatedSkills" + skill.classSkillId + "[]", type="number" min="0" max="100" value=skill.value*100).uk-text-center.studentInput
                                    div.uk-width-expand
                                        progress(id="prog"+skill.classSkillId, value=skill.value*100, max="100").uk-progress.studentSlider
                                    input(id="userHidden"+skill.classSkillId, name="userRatedSkills" + skill.classSkillId + "[]",  type="hidden" value="no")
                            - title = skill.title;
                else
                    h4 You've yet to rate your skill level in any course skills.
            hr

            div.courseSkills
                h2.uk-margin-remove-bottom Course Skills
                if classSkills && classSkills.length > 0
                   div
                        - var title = "";
                        each skill in classSkills
                            div
                                if title != skill.title
                                    h3.uk-margin-remove-bottom #{skill.title}
                                h4 #{skill.skillName}

                                //- Note: studentSkillSlider uses the format and naming form this code
                                //- If you need to change it make sure studentSkillSliders.js is update to still work.
                                div(uk-grid).uk-grid.uk-margin-small
                                    div.uk-width-auto
                                        input(id="numeric"+skill.classSkillId, name="classSkills" + skill.classSkillId + "[]", type="number" min="0" max="100" value=0).uk-text-center.uk-display-inline.studentInput
                                    div.uk-width-expand
                                        progress(id="prog"+skill.classSkillId, value=0 max="100").uk-progress.studentSlider
                                    input(id="userHidden"+skill.classSkillId, name="classSkills" + skill.classSkillId + "[]",  type="hidden" value="no")
                                - title = skill.title;
                else
                    h4 No course skills are available.

            input(type="submit" value="Save").uk-button.uk-button-primary

            div.uk-width-1-1.uk-margin-top

    script(src="components/StudentSkill/studentSkillSliders.js")
